[alias]
    # the acronym stands for "subtree update"
    sbu = "!f() { git subtree pull --prefix plugins/sign-on/openid-connect-generic-client https://github.com/oidc-wp/openid-connect-generic.git dev --squash; }; f"